button {
  height: 100px;
  width: 100px;
  border: transparent;
  font-weight: bolder;
}
#Start {
  display: flex;
  justify-content: center;
  margin: -5pc 40pc;
}
.col {
  font-size: 30px;
  font-weight: bolder;
  margin: 20px 20px;
}
#Page {
  position: absolute;
  left: 32pc;
  top: 2pc;
}
@media (max-width: 433px) {
  button {
    height: 50px;
    width: 50px;
    border: transparent;
  }
  .col {
    font-size: 15px;
    font-weight: bolder;
    margin: 20px 8px;
  }
  #Page {
    position: absolute;
    left: 4pc;
    top: 8pc;
  }
  #Btn2 {
    height: 100px;
    width: 100px;
    margin: 12pc 86px;
    border: 1px solid;
    border-radius: 30px;
    font-size: 30px;
    font-weight: bolder;
  }
  #Btn1 {
    height: 100px;
    width: 100px;
    margin: 15px 28px;
    border: 1px solid;
    border-radius: 30px;
    font-size: 30px;
    font-weight: bolder;
  }
  #Start {
    margin: -5pc 7pc;
  }
}
